<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>  
    <section name="MatipSettings" type="System.Configuration.NameValueSectionHandler"/>      
  </configSections>
    <MatipSettings>  
    <add key="SourceLayer5" value="E5FLYNASTST"/>  
    <add key="DestinationLayer5" value="I5APTXS"/>  
    <add key="MatipH1H2" value="FEFD"/>    
    <add key="IpAddress" value="127.0.0.1"/>  
    <add key="Port" value="11000"/>   
    <add key="Timeout" value="60"/>
  </MatipSettings>
</configuration>
